body {
  font: 14px "Quicksand", Helvetica, Arial, sans-serif;
}

h1 {
  background-color: #56CD77;
  color: #3B4637;
  text-align: center;
  padding: 10px;
  height: 10vh;
  margin: 0;
  font-size: 50px;
}

.title {
  padding-left: 240px;
}

#link {
  float: right;
  font-size: 20px;
  margin-top: 25px;
}

a {
  color: white;
}

.restaurantListAdmin {
  padding: 20px 0 0 15px;
  font-size: 15px;
  float: left;
  margin: 5% 0 0 28%;
}

.mainContainer {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
  height: 85vh;
}

.inner {
  margin: auto;
  background-color: #E1E1E1;
  height: 38%;
  width: 20%;
  border: 2px solid black;
}

.inner img {
  margin-left: 18%;
  margin-bottom: 3%;
  height: 60%;
  width: 65%;
 }

.starsHome {
  margin: -18px 0 0 -20px;
}

.starsHome img {
  height: 7%;
  width: 7%;
  float: right;
  margin: 1px;
}

.inner h3 {
  margin-left: 10px;
  margin-top: 2px;
}

h3 a {
  color: #3B4637;
}

.inner p {
  margin-left: 10px;
  margin-bottom: 1px;
}

.newPageContainer {
  margin: 5%;
}

.newFormContainer {
  border: 1px solid #3B4637;
  padding: 15px 15px 50px 15px;
}

.form {
  color: #3B4637;
  padding: 5px;
}

.form input {
  width: 30%;
}

.form select {
  width: 30%;
}

.form.location select {
  margin-top: 10px;
  width: 7%;
}

.radioButtons {
  margin: 5px 0px 5px 5px;
}

.radioButtons input{
  margin: 5px;
}

.form.image {
  width: 85%;
}

.form.image input {
  margin-left: 5px;
}

.form textarea {
  width: 30%;
  height: 90px;
}

.form button {
  border: none;
  border-radius: 5px;
  float: right;
  margin: 7px;
  color: #3B4637;
}

.form a {
  color: #3B4637;
}

.review input {
  margin-bottom: 10px;
}

.submitNew {
  background-color: #58CC76;
  padding: 5px 10px 5px 10px;
}

.cancelNew {
  background-color: #FF5938;
  padding: 5px 10px 5px 10px;
}

.showMainContainer {
  font-size: 22px;
  font-style: italic;
  color: #3B4637;
  margin: 5% 0% 0% 10%;
}

.leftShowPg {
  width: 40vw;
  float: left;
}

.leftShowPg img {
  height: 45%;
  width: 50%;
  margin: 5% 0 0 30%;
}

.rightShowPg {
  width: 40vw;
  float: left;
}

.showButtons button {
  border: none;
  border-radius: 5px;
  margin-right: 15px;
  width: 30%;
  color: #3B4637;
}

.showButtons a {
  color: #3B4637;
}

.deleteShow {
  background-color: #FF5938;
  padding: 5px 10px 5px 10px;
}

.editShow {
  background-color: #58CC76;
  padding: 5px 10px 5px 10px;
}

.addReviewShow {
  background-color: #74A4D9;
  padding: 5px 10px 5px 10px;
}

.addEmp {
  background-color: #74A4D9;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: none;55
}

.reviewBox {
  font-size: 15px;
  float: right;
  font-style: normal;
}

.reviewBox td {
  width: 250px;
}

.reviewBox img {
  height: 17px;
  width: 17px;
}

.floatRight {
  float: right;
}

.floatRight a {
  color: #3B4637;
  float: right;
}

.italic {
  font-style: italic;
}

.adminContainer {
  font-size: 20px;
  margin-top: 50px;
}

.adminTable {
  margin: 0 auto;
}

.adminTable td {
  width: 260px;
  text-align: left;
  padding: 10px 10px 10px 0;
}

.adminTable table, th, td {
  border-bottom: 1px solid black;
}

.adminContainer button {
  border: none;
  border-radius: 5px;
  margin: 7px;
  width: 100px;
}

.adminContainer a {
  color: #3B4637;
}

.editAdmin {
  background-color: #58CC76;
  padding: 5px 10px 5px 10px;
}

.deleteAdmin {
  background-color: #FF5938;
  padding: 5px 10px 5px 10px;
}

.empTable table, th, td {
  font-size: 17px;
  border-bottom: none;
  padding: 2px;
}

.empTable td {
  width: 120px;
}

.empTable th {
  background-color: #E0F8E1;
  padding: 5px;
}
