extends ../layout

block content
  h1.title gTables 
     #link
      a(href='/restaurants/new') New Restaurant

    .mainContainer
      for restaurant in restaurants
        .inner
          h3: a(href='/restaurants/'+restaurant.id+'')= restaurant.name
          img(src=''+restaurant.image+'')
          p= restaurant.cuisine
          p= restaurant.city + ', ' + restaurant.state 
          p.starsHome
            if restaurant.rating === 1
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
            else if restaurant.rating === 2
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
            else if restaurant.rating === 3
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
            else if restaurant.rating === 4
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
            else 
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
              img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
             
