extends ../layout

block content
  h1 gTables
    a(href='#') New Restaurant


  if restaurants
    table.table.table-stripe
     tbody
       for restaurant in restaurants
         tr
           td= restaurant.name
            p
              img(src=''+restaurant.image+'')
            p= restaurant.cuisine
            p= restaurant.city + ', ' + restaurant.state + ' ' + restaurant.rating
           
           
