extends ../layout

block content
  h1.title gTables 
     #link
      a(href='/restaurants/new') New Restaurant


  if restaurants
    .mainContainer
       for restaurant in restaurants
          .inner
            h3= restaurant.name
            img(src=''+restaurant.image+'')
            p= restaurant.cuisine
            p= restaurant.city + ', ' + restaurant.state + ' ' + restaurant.rating
           
