extends ../layout

block content
  if restaurant
     h1 restaurant.name
       .leftShowPg
         img(src=''+restaurant.image+'')
       .rightShowPg
         p= restaurant.cuisine
         p= 'Located in ' + restaurant.city + ', ' + restaurant.state      
         p= restaurant.bio
