extends ../layout

block content
  h1 Admin
    .restaurantListAdmin
      for restaurant in restaurants
        h3: a(href='/restaurants/'+restaurant.id+'')= restaurant.name
        ul.restList
          for employee in employees 
            if employee.restaurants_id == restaurant.id
              li= employee.first_name + ' ' + employee.last_name
        
              
    
        
