extends ../layout

block content
 h1 Admin 
 div.newPageContainer
     include ../includes/errors.jade
     br
     p.adminLoginTitle Login to your account
     div.newFormContainerAdmin
       form(method='post' action='')  
         div.adminform
           label(for='username') Username
           input.form-control(type='text' id='username' name='username' placeholder='Username')
         div.adminform
           label(for='password') Password
           input.form-control(type='text' id='password' name='password' placeholder='Password')
           button.adminSubmit.submitNew(type='submit') Login
         
