extends ../layout

block content
 h1 Admin
    .adminContainer
      for restaurant in restaurants 
        table 
          tbody
            tr
              td= restaurant.name
              td
              td
      
