extends ../layout

block content
 h1 Admin
  .link
   a(href='/admin/log-out') Log Out 
   a(href='/restaurants'):  i.fa.fa-home
  .adminContainer
    for restaurant in restaurants 
      table.adminTable
        tbody
          tr
            td= restaurant.name
            td.italic Rating: 
              -for(var i=0; i<restaurant.rating; i++)
                img(src='https://cdn4.iconfinder.com/data/icons/small-n-flat/24/star-24.png')
            td: button.editAdmin(type='edit'): a(href='/restaurants/'+restaurant.id+'/edit') Edit
                button.deleteAdmin(type='delete'): a(href='/restaurants/'+restaurant.id+'/delete') Delete
      
