extends ../layout

block content
  if reviews
    h1 Edit Review
    div.newPageContainer
      p Edit Review
        div.newFormContainer
          form(method='post' action='/restaurants/'+reviews.restaurants_id+'/reviews/'+reviews.id+'')
            div.form.review
              label(for='name') Name
              input.form-control(type='text' id='name' name='name' value=reviews.name)
              label(for='date') Date
              input.form-control(type='text' id='date' name='date' value=reviews.date)
            .radioButtons
                label(for='rating') Rating
                input(type='radio' name='rating' value='1' checked=(reviews ? (reviews.rating === 1 ? true : undefined ): undefined))
                input(type='radio' name='rating' value='2' checked=(reviews ? (reviews.rating === 1 ? true : undefined ): undefined))
                input(type='radio' name='rating' value='3' checked=(reviews ? (reviews.rating === 1 ? true : undefined ): undefined))
                input(type='radio' name='rating' value='4' checked=(reviews ? (reviews.rating === 1 ? true : undefined ): undefined))
                input(type='radio' name='rating' value='5' checked=(reviews ? (reviews.rating === 1 ? true : undefined ): undefined))
            div.form.review
              label(for='review') Review
              textarea.form-control(id='review', name='review') #{reviews.review}
            div.form.review
              button.addReviewShow(type='delete'): a(href='/restaurants/'+reviews.restaurants_id+'/reviews/'+reviews.id+'/delete') Delete
              button.cancelNew: a(href='/restaurants/'+reviews.restaurants_id+'') Cancel
              button.submitNew(type='submit') Submit
              
