extends ../layout

block content
    h1 Neighborhoods
    
    div#map
    script.
      var map;
      var lat_long = '#{lat_long}';
      var latitude = #{lat_long.lat};
      var longitude = #{lat_long.lng};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: latitude, lng: longitude},
          zoom: 8
        });
      }
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_AEJoor25uoZy70X3iaMELWOJe14n8HE&callback=initMap")
